@custom-variant disabled (&:is([disabled], :disabled));

@custom-variant theme-solid (&:where([data-theme="solid"]));
@custom-variant theme-outline (&:where([data-theme="outline"]));
@custom-variant theme-transparent (&:where([data-theme="transparent"]));

@custom-variant stuck (&[data-stuck], &:has([data-forcing-overlay]));

@layer base {
  html {
    scroll-timeline: --scroll-progress block;
  }

  body {
    @apply **:empty:[span,p,h1,h2,h3,h4,h5,h6]:hidden;

    &:has([data-overlay]) {
      @apply overflow-hidden;
    }
  }
}

@theme {
  --default-transition-duration: 300ms;
  --container-container: var(--container-7xl);
  --breakpoint-mobile: 48rem;

  --animate-scroll-progress: scroll-progress auto;

  @keyframes scroll-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}

@theme inline {
  --color-theme-50: var(--theme-50, var(--color-neutral-50));
  --color-theme-100: var(--theme-100, var(--color-neutral-100));
  --color-theme-200: var(--theme-200, var(--color-neutral-200));
  --color-theme-300: var(--theme-300, var(--color-neutral-300));
  --color-theme-400: var(--theme-400, var(--color-neutral-400));
  --color-theme-500: var(--theme-500, var(--color-neutral-500));
  --color-theme-600: var(--theme-600, var(--color-neutral-600));
  --color-theme-700: var(--theme-700, var(--color-neutral-700));
  --color-theme-800: var(--theme-800, var(--color-neutral-800));
  --color-theme-900: var(--theme-900, var(--color-neutral-900));
  --color-theme-950: var(--theme-950, var(--color-neutral-950));
}

@layer utilities {
  .theme-red {
    --theme-50: var(--color-red-50);
    --theme-100: var(--color-red-100);
    --theme-200: var(--color-red-200);
    --theme-300: var(--color-red-300);
    --theme-400: var(--color-red-400);
    --theme-500: var(--color-red-500);
    --theme-600: var(--color-red-600);
    --theme-700: var(--color-red-700);
    --theme-800: var(--color-red-800);
    --theme-900: var(--color-red-900);
    --theme-950: var(--color-red-950);
  }

  .theme-orange {
    --theme-50: var(--color-orange-50);
    --theme-100: var(--color-orange-100);
    --theme-200: var(--color-orange-200);
    --theme-300: var(--color-orange-300);
    --theme-400: var(--color-orange-400);
    --theme-500: var(--color-orange-500);
    --theme-600: var(--color-orange-600);
    --theme-700: var(--color-orange-700);
    --theme-800: var(--color-orange-800);
    --theme-900: var(--color-orange-900);
    --theme-950: var(--color-orange-950);
  }

  .theme-amber {
    --theme-50: var(--color-amber-50);
    --theme-100: var(--color-amber-100);
    --theme-200: var(--color-amber-200);
    --theme-300: var(--color-amber-300);
    --theme-400: var(--color-amber-400);
    --theme-500: var(--color-amber-500);
    --theme-600: var(--color-amber-600);
    --theme-700: var(--color-amber-700);
    --theme-800: var(--color-amber-800);
    --theme-900: var(--color-amber-900);
    --theme-950: var(--color-amber-950);
  }

  .theme-yellow {
    --theme-50: var(--color-yellow-50);
    --theme-100: var(--color-yellow-100);
    --theme-200: var(--color-yellow-200);
    --theme-300: var(--color-yellow-300);
    --theme-400: var(--color-yellow-400);
    --theme-500: var(--color-yellow-500);
    --theme-600: var(--color-yellow-600);
    --theme-700: var(--color-yellow-700);
    --theme-800: var(--color-yellow-800);
    --theme-900: var(--color-yellow-900);
    --theme-950: var(--color-yellow-950);
  }

  .theme-lime {
    --theme-50: var(--color-lime-50);
    --theme-100: var(--color-lime-100);
    --theme-200: var(--color-lime-200);
    --theme-300: var(--color-lime-300);
    --theme-400: var(--color-lime-400);
    --theme-500: var(--color-lime-500);
    --theme-600: var(--color-lime-600);
    --theme-700: var(--color-lime-700);
    --theme-800: var(--color-lime-800);
    --theme-900: var(--color-lime-900);
    --theme-950: var(--color-lime-950);
  }

  .theme-green {
    --theme-50: var(--color-green-50);
    --theme-100: var(--color-green-100);
    --theme-200: var(--color-green-200);
    --theme-300: var(--color-green-300);
    --theme-400: var(--color-green-400);
    --theme-500: var(--color-green-500);
    --theme-600: var(--color-green-600);
    --theme-700: var(--color-green-700);
    --theme-800: var(--color-green-800);
    --theme-900: var(--color-green-900);
    --theme-950: var(--color-green-950);
  }

  .theme-emerald {
    --theme-50: var(--color-emerald-50);
    --theme-100: var(--color-emerald-100);
    --theme-200: var(--color-emerald-200);
    --theme-300: var(--color-emerald-300);
    --theme-400: var(--color-emerald-400);
    --theme-500: var(--color-emerald-500);
    --theme-600: var(--color-emerald-600);
    --theme-700: var(--color-emerald-700);
    --theme-800: var(--color-emerald-800);
    --theme-900: var(--color-emerald-900);
    --theme-950: var(--color-emerald-950);
  }

  .theme-teal {
    --theme-50: var(--color-teal-50);
    --theme-100: var(--color-teal-100);
    --theme-200: var(--color-teal-200);
    --theme-300: var(--color-teal-300);
    --theme-400: var(--color-teal-400);
    --theme-500: var(--color-teal-500);
    --theme-600: var(--color-teal-600);
    --theme-700: var(--color-teal-700);
    --theme-800: var(--color-teal-800);
    --theme-900: var(--color-teal-900);
    --theme-950: var(--color-teal-950);
  }

  .theme-cyan {
    --theme-50: var(--color-cyan-50);
    --theme-100: var(--color-cyan-100);
    --theme-200: var(--color-cyan-200);
    --theme-300: var(--color-cyan-300);
    --theme-400: var(--color-cyan-400);
    --theme-500: var(--color-cyan-500);
    --theme-600: var(--color-cyan-600);
    --theme-700: var(--color-cyan-700);
    --theme-800: var(--color-cyan-800);
    --theme-900: var(--color-cyan-900);
    --theme-950: var(--color-cyan-950);
  }

  .theme-sky {
    --theme-50: var(--color-sky-50);
    --theme-100: var(--color-sky-100);
    --theme-200: var(--color-sky-200);
    --theme-300: var(--color-sky-300);
    --theme-400: var(--color-sky-400);
    --theme-500: var(--color-sky-500);
    --theme-600: var(--color-sky-600);
    --theme-700: var(--color-sky-700);
    --theme-800: var(--color-sky-800);
    --theme-900: var(--color-sky-900);
    --theme-950: var(--color-sky-950);
  }

  .theme-blue {
    --theme-50: var(--color-blue-50);
    --theme-100: var(--color-blue-100);
    --theme-200: var(--color-blue-200);
    --theme-300: var(--color-blue-300);
    --theme-400: var(--color-blue-400);
    --theme-500: var(--color-blue-500);
    --theme-600: var(--color-blue-600);
    --theme-700: var(--color-blue-700);
    --theme-800: var(--color-blue-800);
    --theme-900: var(--color-blue-900);
    --theme-950: var(--color-blue-950);
  }

  .theme-indigo {
    --theme-50: var(--color-indigo-50);
    --theme-100: var(--color-indigo-100);
    --theme-200: var(--color-indigo-200);
    --theme-300: var(--color-indigo-300);
    --theme-400: var(--color-indigo-400);
    --theme-500: var(--color-indigo-500);
    --theme-600: var(--color-indigo-600);
    --theme-700: var(--color-indigo-700);
    --theme-800: var(--color-indigo-800);
    --theme-900: var(--color-indigo-900);
    --theme-950: var(--color-indigo-950);
  }

  .theme-violet {
    --theme-50: var(--color-violet-50);
    --theme-100: var(--color-violet-100);
    --theme-200: var(--color-violet-200);
    --theme-300: var(--color-violet-300);
    --theme-400: var(--color-violet-400);
    --theme-500: var(--color-violet-500);
    --theme-600: var(--color-violet-600);
    --theme-700: var(--color-violet-700);
    --theme-800: var(--color-violet-800);
    --theme-900: var(--color-violet-900);
    --theme-950: var(--color-violet-950);
  }

  .theme-purple {
    --theme-50: var(--color-purple-50);
    --theme-100: var(--color-purple-100);
    --theme-200: var(--color-purple-200);
    --theme-300: var(--color-purple-300);
    --theme-400: var(--color-purple-400);
    --theme-500: var(--color-purple-500);
    --theme-600: var(--color-purple-600);
    --theme-700: var(--color-purple-700);
    --theme-800: var(--color-purple-800);
    --theme-900: var(--color-purple-900);
    --theme-950: var(--color-purple-950);
  }

  .theme-fuchsia {
    --theme-50: var(--color-fuchsia-50);
    --theme-100: var(--color-fuchsia-100);
    --theme-200: var(--color-fuchsia-200);
    --theme-300: var(--color-fuchsia-300);
    --theme-400: var(--color-fuchsia-400);
    --theme-500: var(--color-fuchsia-500);
    --theme-600: var(--color-fuchsia-600);
    --theme-700: var(--color-fuchsia-700);
    --theme-800: var(--color-fuchsia-800);
    --theme-900: var(--color-fuchsia-900);
    --theme-950: var(--color-fuchsia-950);
  }

  .theme-pink {
    --theme-50: var(--color-pink-50);
    --theme-100: var(--color-pink-100);
    --theme-200: var(--color-pink-200);
    --theme-300: var(--color-pink-300);
    --theme-400: var(--color-pink-400);
    --theme-500: var(--color-pink-500);
    --theme-600: var(--color-pink-600);
    --theme-700: var(--color-pink-700);
    --theme-800: var(--color-pink-800);
    --theme-900: var(--color-pink-900);
    --theme-950: var(--color-pink-950);
  }

  .theme-rose {
    --theme-50: var(--color-rose-50);
    --theme-100: var(--color-rose-100);
    --theme-200: var(--color-rose-200);
    --theme-300: var(--color-rose-300);
    --theme-400: var(--color-rose-400);
    --theme-500: var(--color-rose-500);
    --theme-600: var(--color-rose-600);
    --theme-700: var(--color-rose-700);
    --theme-800: var(--color-rose-800);
    --theme-900: var(--color-rose-900);
    --theme-950: var(--color-rose-950);
  }

  .theme-slate {
    --theme-50: var(--color-slate-50);
    --theme-100: var(--color-slate-100);
    --theme-200: var(--color-slate-200);
    --theme-300: var(--color-slate-300);
    --theme-400: var(--color-slate-400);
    --theme-500: var(--color-slate-500);
    --theme-600: var(--color-slate-600);
    --theme-700: var(--color-slate-700);
    --theme-800: var(--color-slate-800);
    --theme-900: var(--color-slate-900);
    --theme-950: var(--color-slate-950);
  }

  .theme-gray {
    --theme-50: var(--color-gray-50);
    --theme-100: var(--color-gray-100);
    --theme-200: var(--color-gray-200);
    --theme-300: var(--color-gray-300);
    --theme-400: var(--color-gray-400);
    --theme-500: var(--color-gray-500);
    --theme-600: var(--color-gray-600);
    --theme-700: var(--color-gray-700);
    --theme-800: var(--color-gray-800);
    --theme-900: var(--color-gray-900);
    --theme-950: var(--color-gray-950);
  }

  .theme-zinc {
    --theme-50: var(--color-zinc-50);
    --theme-100: var(--color-zinc-100);
    --theme-200: var(--color-zinc-200);
    --theme-300: var(--color-zinc-300);
    --theme-400: var(--color-zinc-400);
    --theme-500: var(--color-zinc-500);
    --theme-600: var(--color-zinc-600);
    --theme-700: var(--color-zinc-700);
    --theme-800: var(--color-zinc-800);
    --theme-900: var(--color-zinc-900);
    --theme-950: var(--color-zinc-950);
  }

  .theme-neutral {
    --theme-50: var(--color-neutral-50);
    --theme-100: var(--color-neutral-100);
    --theme-200: var(--color-neutral-200);
    --theme-300: var(--color-neutral-300);
    --theme-400: var(--color-neutral-400);
    --theme-500: var(--color-neutral-500);
    --theme-600: var(--color-neutral-600);
    --theme-700: var(--color-neutral-700);
    --theme-800: var(--color-neutral-800);
    --theme-900: var(--color-neutral-900);
    --theme-950: var(--color-neutral-950);
  }

  .theme-stone {
    --theme-50: var(--color-stone-50);
    --theme-100: var(--color-stone-100);
    --theme-200: var(--color-stone-200);
    --theme-300: var(--color-stone-300);
    --theme-400: var(--color-stone-400);
    --theme-500: var(--color-stone-500);
    --theme-600: var(--color-stone-600);
    --theme-700: var(--color-stone-700);
    --theme-800: var(--color-stone-800);
    --theme-900: var(--color-stone-900);
    --theme-950: var(--color-stone-950);
  }
}
